.MobileRoamContainer {
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 0 20px 20px 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .containCircle {
    height: auto;
    width: 100%;
    position: relative;
    .controllerPanel {
      position: absolute;
      left: 0;
      bottom: 0;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.25);
      background: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      box-sizing: border-box;
      .ball {
        border-radius: 50%;
        background: #ffffff;
        position: absolute;
      }
      .Svg-Icon {
        position: absolute;
        width: 15px;
        height: 15px;
        color: rgba(255, 255, 255, 0.25);
      }
      .icon-roam-up {
        top: 8px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .icon-roam-down {
        bottom: 8px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .icon-roam-left {
        left: 8px;
        top: 50%;
        transform: translate(0, -50%);
      }
      .icon-roam-right {
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .SelectPanel {
      position: absolute;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      color: #ffffff;
      padding: 20px 10px;
      border-radius: 20px;
      .InsideContain {
        display: flex;
        align-items: center;
        .ControlContain {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .to_top {
            margin-bottom: 12px;
            user-select: none;
          }
          .to_down {
            margin-top: 12px;
          }
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  /*横屏 css*/
  .MobileRoamContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .containCircle {
      height: auto;
      width: 100%;
      position: relative;
      .controllerPanel {
        position: absolute;
        left: 0;
        bottom: 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.25);
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        box-sizing: border-box;
        .ball {
          border-radius: 50%;
          background: #ffffff;
          position: absolute;
        }
        .Svg-Icon {
          position: absolute;
          width: 15px;
          height: 15px;
          color: rgba(255, 255, 255, 0.25);
        }
        .icon-roam-up {
          top: 8px;
          left: 50%;
          transform: translate(-50%, 0);
        }
        .icon-roam-down {
          bottom: 8px;
          left: 50%;
          transform: translate(-50%, 0);
        }
        .icon-roam-left {
          left: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }
        .icon-roam-right {
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
      .SelectPanel {
        position: absolute;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: 20px 10px;
        border-radius: 20px;
        .InsideContain {
          display: flex;
          align-items: center;
          .ControlContain {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .to_top {
              margin-bottom: 12px;
              user-select: none;
            }
            .to_down {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
}
