.MinMap {
	float: left;
	width: 200px;
	height: 200px;
	background: black;
}

.FirstPerson {
	margin-left: 200px;
	padding-left: 10px;
}

.SwitchItem {
	margin-top: 20px;
	vertical-align: auto;
}

.SwitchItem .Lable {
	/* margin-top: -15px; */
	float: left;
}

.switch {
	margin-left: 10px; 
}
.inputtext{
	background: transparent;
	color: aliceblue;
	height: 20px;
	width: 50px;
	border: 1px solid white;
	border-radius: 2px;
}